* {
    box-sizing: border-box;
    background-color: black;
}
.body {
    margin: auto;
    padding: 0%;
}
.h1 {
    margin: 0%;
    padding: 0%;
}
.gallery-cont {
    color: white;
}

.back {
    height: 5rem;
    width: 5rem;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 10rem;
    right: 10rem;
}
.back:hover {
    cursor: pointer;
}
.gallery-cont {
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.media-cont {
    height: 15rem;
    width: 15rem;

    border: 10px solid white;
    margin: 2rem;
}

.media {
    /* background-color: black; */
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media > img,
video {
    width: 100%;
}

.action-btn {
    height: calc((5rem - 20px) / 2);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    background-color: red;
}
.download {
    background-color: rgb(49, 105, 190);
}

.delete,
.download:hover {
    cursor: pointer;
}
