* {
    box-sizing: border-box;
}
.body {
    margin: auto;
    padding: 0%;
}
.h1{
    margin:0%;
    padding:0%; 
    
}

.back {
    height: 5rem;
    width: 5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 10rem;
    right: 10rem;
}
.back:hover{
    cursor: pointer;
}
.gallery-cont {
    /* background-color: aqua; */
    height: 100vh;
    width: 100vw;
    text-align: center;
}
 






.image {
    height: 15rem;
    width: 10rem;
    background-color: red;
    /* display: flex; */
}
.image > * {
}

.picture {
    height: 80%;
    width: 80%;
    background-color: rgb(46, 206, 37);
}

.download-btn {
    background-color: burlywood;
    text-align: center;
}
.delete-btn {
    background-color: black;
    text-align: center;
    color: aliceblue;
}
