* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    
}

.video-cont {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

video {
    height: 100%;
    width: 100%;
    /* -webkit-transform: translate(-1%, 0%);
    transform: translate(-1%, 0%); */
}

.action-cont {
    height: 12rem;
    width: 5rem;
    /* background-color: black; */
    position: absolute;
    top: calc((100vh - 12rem) / 2);
    left: calc((100vw - 10rem));
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.action-cont > * {
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.record-btn {
    /*  round:
            h,w = 4rem 
            radius = 50%
        stop:
            h,w = 1.5rem
            radius = 10%
     */
    background-color: red;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.capture-btn {
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.timer {
    position: absolute;
    bottom: 10rem;
    left: 1rem;
    color: white;
    z-index: 2;
    padding: 5px;
    border-radius: 5%; 
    font-size: 30px;
    display: none;

    /* while recording on */
    background-color: none;
    
    

}

.filter-cont {
    position: absolute;
    background-color: grey;
    height: 16rem;
    width: 5rem;
    top: calc((100vh - 16rem) / 2);
    left: 2rem;
    z-index: 2;
}

.filter {
    height: 4rem;
    background-image: url(http://picsum.photos/seed/picsum/200/300);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color-burn;
}

.orange {
    background-color: #ffa50052;
}
.brown {
    background-color: #a52a2a59;
}
.pink {
    background-color: #ffc0cb57;
}
.transparent {
    background-color: transparent;
}

.filter-layer {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    /* background-color: #ffc0cb57; */
    position: absolute;
    top: 0;
    left: 0;
}

.material-symbols-outlined {
    color: white;
    font-size: 3rem;
}

.gallery {
    position: absolute;
    bottom: 10rem;
    right: 7rem;
    z-index: 2;
}
